:root {
    --primary-text-color: #434455;
    --secondary-text-color: #2e2f42;
    --white-color: #ffffff;
    --accent-color: #404bbf;
    --button-bckground-color: #4d5ae5;
    --first-logo-color: #4d5ae5;
    --secondary-logo-color: #2e2f42;
    --secondary-footer-logo-color: #f4f4fd;
    --bckground-advantages-icon: #f4f4fd;
    --bg-team-icon: #4d5ae5;

    --hover-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/* Body */

body {
    background-color: var(--white-color);
    color: var(--primary-text-color);
    font-family: Roboto, sans-serif;
    letter-spacing: 0.02em;
}

.title {
    margin-bottom: 72px;
    color: var(--secondary-text-color);
}

h2 {
    margin-top: 0;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    text-transform: capitalize;
    letter-spacing: 0.02em;
    text-align: center;
}

h3 {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

.text {
    color: var(--primary-text-color);
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
}

.link {
    text-decoration: none;
    font-size: 16px;
    line-height: 1.5;
}

.list {
    margin: 0;
    padding: 0;
    list-style: none;
}

.container {
    max-width: 428px;
    margin: 0 auto;
    padding-left: 16px;
    padding-right: 16px;
}

button {
    cursor: pointer;
}

/* Header  */

.header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header {
    border-bottom: 1px solid #e7e9fc;
    box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
        0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}

.nav {
    display: flex;
    align-items: center;
}

.nav .list {
    display: none;
}

.address {
    display: none;
}

.btn-burger {
    display: flex;
    width: 32px;
    height: 22px;
    align-items: center;
    justify-content: center;
    padding: 24px 0;
    margin: 0;

    background-color: inherit;
    border-color: transparent;
}

.icon-menu {
    stroke: #2e2f42;
}

/* Logo */

/* Логотип */

.nav>.link,
.footer .link {
    color: var(--first-logo-color);

    font-family: "Raleway", sans-serif;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
}

.nav>.link {
    display: inline-block;
}

.link .web-logo:hover,
.link .web-logo:focus {
    color: var(--accent-color);
}

.web-logo {
    color: var(--secondary-logo-color);
    transition: color var(--hover-transition);
}

/* Mobile Modal Window */

.mobile-modal {
    display: flex;
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;

    padding: 85px 35px 40px 40px;
    flex-direction: column;
    justify-content: space-between;

    background: #ffffff;
    box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
        0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);

    opacity: 0;
    visibility: hidden;
    pointer-events: fill;
    overflow: scroll;

    transition: opacity (--hover-transition), visibility (var(--hover-transition));
}

.mobile-modal.is-open {
    opacity: 1;
    visibility: visible;
    z-index: 1;
}

.btn-close-mobile {
    position: absolute;
    top: 24px;
    right: 24px;
    display: flex;

    width: 24px;
    height: 24px;
    border-radius: 50%;

    justify-content: center;
    align-items: center;

    background: #e7e9fc;
    border: 1px solid rgba(0, 0, 0, 0.1);

    transition: background var(--hover-transition), border var(--hover-transition);
}

.mob-nav-list {
    display: flex;
    gap: 40px;
    flex-direction: column;
}

.mob-nav-list a {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    color: #2e2f42;
}

.nav-active:hover {
    color: var(--accent-color);
}

.mob-adress-list {
    display: flex;
    gap: 40px;
    flex-direction: column;
    margin-bottom: 48px;
}

.mob-nav-list a[href="./index.html"] {
    color: var(--accent-color);
}

.mob-item-tel a {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    color: #4d5ae5;
    text-transform: capitalize;
}

 @media screen and (max-width: 429px) {
    .mob-item-tel a {
    font-size: 20px;
    }
}

.mob-item-mail a {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;

    letter-spacing: 0.02em;
    color: #434455;
}

.socials-mob {
    display: flex;
    margin: 0;
    padding: 0;
    gap: 24px;
    list-style: none;
}

/* Main */

/* Hero section */

.hero {
    background-color: #2e2f42;
    padding: 112px 0;
}

.hero-content {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

.hero-title {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    max-width: 320px;
    margin: 0 auto 72px auto;

    color: var(--white-color);

    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
}

.overlay {
    margin-left: auto;
    margin-right: auto;

    background-image: linear-gradient(rgba(46, 47, 66, 0.7),
            rgba(46, 47, 66, 0.7)),
        url('../images/hero/Dark-bg_mobi@1x.jpg');

    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

@media (min-device-pixel-ratio: 2) and (max-width: 767px),
(min-resolution: 192dpi) and (max-width: 767px),
(min-resolution: 2dppx) and (max-width: 767px) {
    .overlay {
        background-image: linear-gradient(rgba(46, 47, 66, 0.7),
                rgba(46, 47, 66, 0.7)), url('../images/hero/Dark-bg_mobi@2x.jpg');
    }
}


.hero-button {
    display: block;
    min-width: 169px;

    border-radius: 4px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border: none;

    margin: 0 auto;
    padding: 16px 32px;

    font-family: Roboto, sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    background-color: var(--button-bckground-color);
    color: var(--white-color);
    transition: background-color var(--hover-transition);
}

.hero-button:hover,
.hero-button:focus {
    background-color: var(--accent-color);
}


/* Modal Window */
.is-hidden {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}


.backdrop {
    position: fixed;
    z-index: 100;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(46, 47, 66, 0.4);
    backdrop-filter: blur(2px);
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
    overflow-y: scroll;
}

.backdrop.is-hidden .modal {
    opacity: 0;
    transform: translateY(-50%) translateX(-70%);
}

.modal {
    position: absolute;
    top: 430px;
    left: 50%;

    width: 100%;
    max-width: 392px;
    border-radius: 4px;
    padding: 72px 16px 24px 16px;

    background: #fcfcfc;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14),
        0px 1px 3px rgba(0, 0, 0, 0.12),
        0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    transform: translate(-50%, -50%) scale(1);
    transition: transform var(--hover-transition);
}

.modal-close-btn {
    position: absolute;
    top: 24px;
    right: 24px;
    width: 24px;
    height: 24px;
    background-color: #E7E9FC;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    transition: background var(--hover-transition),
        border var(--hover-transition);
}

.modal-close-btn:hover,
.modal-close-btn:focus {
    background-color: var(--accent-color);
    border: none;
    fill: #ffffff;

}

.modal-close-icon {
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/* Modal fields */


.modal-title {
    display: block;
    margin-bottom: 16px;
    color: var(--secondary-text-color);
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    text-align: center;
    letter-spacing: 0.02em;
}

.form-label {
    display: block;
    margin-bottom: 4px;
    font-size: 12px;
}

.form-wrapper {
    position: relative;
    margin-bottom: 8px;
    display: flex;
}

.form-field {
    width: 100%;
    height: 40px;
    padding: 0;
    padding-left: 38px;
    border-radius: 4px;
    border: 1px solid #2E2F42;
    outline: transparent;
    outline-offset: -1px;
    transition: 400ms;
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-field:focus {
    outline: 1px solid #4D5AE5;
}

.form-icon {
    position: absolute;
    top: 50%;
    left: 16px;
    transform: translateY(-50%);
    fill: #2E2F42;
    pointer-events: none;
}

.form-field:focus+.form-icon {
    fill: #4D5AE5;
}

.form-comment {
    display: block;
    width: 100%;
    height: 120px;
    resize: none;
    padding: 16px;
    border-radius: 4px;
    outline: transparent;
}

.form-agreement {
    display: flex;
    align-items: center;
    gap: 6px;
    margin-top: 16px;
    margin-bottom: 24px;
}

.form-agreement-text {
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: #8E8F99;
    user-select: none;
}

.form-agreement-link {
    justify-content: center;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: #4D5AE5;
}


.icon {
    display: inline-block;
    width: 16px;
    height: 16px;
    border: 1px solid #2E2F42;
    border-radius: 2px;
}

.checkbox:checked+.icon {
    border-color: #404BBF;
    background-color: #404BBF;
    background-image: url(../images/checked.svg);
    background-size: contain;
    background-origin: border-box;
}

.form-btn {
    display: block;
    margin: 0 auto;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

/* svg checkbox */
.unchecked {
    opacity: 1;
    transition: 300ms;
}

.checked {
    opacity: 0;
    transition: 300ms;
}

.form-check-input:checked+.form-custom-check>.unchecked {
    opacity: 0;
}

.form-check-input:checked+.form-custom-check>.checked {
    opacity: 1;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}


/* Our task section */
.tasks {
    padding: 96px 0;
}

.tasks-descr {
    display: flex;
    flex-direction: column;
    gap: 72px;
}

.task-item {
    display: block;
    width: 100%;
}

.icon-task-border {
    display: none;
}

.bar-name {
    margin: 0 0 8px 0;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
}


.bar-info {
    margin: 0;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
}

/* What are we doing */

.gallery {
    display: none;
}

/* Our team  */

.team {
    background-color: #f4f4fd;
    padding-top: 96px;
    padding-bottom: 96px;
}

.team-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 72px;
}

.team-members {
    display: flex;
    width: 264px;
    flex-direction: column;
    justify-content: center;
    border-radius: 0 0 4px 4px;

    background-color: var(--white-color);
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
        0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.employee-card {
    padding: 32px 0 32px 0;
}

.card-name {
    margin: 0 0 8px 0;
    letter-spacing: 0.02em;
    text-align: center;
}

.card-info {
    margin: 0 0 8px 0;
    text-align: center;
}

.socials {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
    gap: 24px;
    list-style: none;
}

.socials-link {
    display: flex;
    width: 40px;
    height: 40px;
    border-radius: 50%;

    text-decoration: none;
    background: var(--bg-team-icon);

    align-items: center;
    justify-content: center;

    transition: background-color var(--hover-transition);
}

.socials-link:hover,
.socials-link:focus {
    background: var(--accent-color);
}

.socials-icon {
    fill: #f4f4fd;
}

/* Customers section */

.customers {
    padding-top: 96px;
    padding-bottom: 96px;
}

.customer-list {
    display: flex;
    column-gap: 16px;
    row-gap: 72px;
    flex-wrap: wrap;
    list-style: none;
}

.customer-item {
    width: calc((100% - 16px) / 2);
    height: 88px;
}

.customer-icon {
    color: #8e8f99;;
    width: 100%;
    height: 100%;
    border: 1px solid #8e8f99;
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: color var(--hover-transition),
        border-color var(--hover-transition);
}

.customer-icon:hover,
.customer-icon:focus {
    color: var(--accent-color);
    border-color: var(--accent-color);
}

.customer-logo {
    fill: currentColor;
}

/* Footer */

.footer {
    background-color: #2e2f42;
}

.footer-container {
    padding-top: 96px;
    padding-bottom: 96px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.footer-left {
    text-align: center;
}

.logo-dark {
    color: var(--secondary-footer-logo-color);
}

.footer-info {
    color: #f4f4fd;
    text-align: left;
    width: 264px;
    margin: 0;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

.footer-btn {
    display: inline-block;
    margin-bottom: 16px;
    margin-right: 0;
    transition: color var(--hover-transition);
}
    
.footer .link:hover,
.footer .link:focus {
    color: var(--accent-color);
}

.footer-right {
    text-align: center;
    margin-bottom: 72px;
}

.right-header {
    margin: 0 0 16px 0;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    
    color: #ffffff;
}

.footer-list {
    display: flex;
    margin: 0;
    padding: 0;
    gap: 16px;
    list-style: none;
}

.footer-socials {
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-socials:hover,
.footer-socials:focus {
    background-color: #31D0AA;
}

.footer-icon {
    fill: #f4f4fd;
}

/* Subscribe field */

.subscribe-field {
  display: flex;
  flex-direction: column;
  text-align: center;
  width: 100%;

}

.right-header-subscribe {
display: inline-block;
  margin: 0 0 16px 0;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  color: #ffffff;
}

.btn-field {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.subscribe-input{
width: 100%;
  height: 40px;
  margin-bottom: 16px;
  padding: 8px 16px 8px 16px;
  border: 1px solid #ffffff;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
opacity: 0.3;
  background: inherit;
}

.subscribe-input:focus {
    border: transparent;
    outline: 1px solid #4D5AE5;
}


.subscribe-input::placeholder {
  font-size: 12px;
  line-height: 2;
  letter-spacing: 0.04em;
  color: #ffffff;
}

.subscribe-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 8px 24px;
    gap: 16px;
    margin-left: 24px;
    min-width: 165px;
    height: 40px;
    margin: auto;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.btn-form-text {
    color: #fff;
    font-size: 16px;
    line-height: 1.5;
    flex: none;
    order: 0;
    flex-grow: 0;
}

.form-send {
    fill: #fff;
}


/* PORTFOLIO */

.portfolio-main-page {
    padding-top: 48px;
    padding-bottom: 48px;
}

/* Filters our projects */

.btn-list {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 48px;
    gap: 16px 0;
}

.btn-item:not(:last-child) {
    margin-right: 24px;
}

.filter-btn {
    display: flex;

    min-width: auto;
    padding: 8px 16px;
    border: 1px solid #e7e9fc;
    border-radius: 4px;

    background-color: #f4f4fd;
    color: #4d5ae5;

    font-family: Roboto, sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    cursor: pointer;

    transition: color var(--hover-transition),
        background-color var(--hover-transition), box-shadow var(--hover-transition),
        border var(--hover-transition);
}

.filter-btn:hover,
.filter-btn:focus {
    background-color: var(--accent-color);
    color: var(--white-color);
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08),
        0px 2px 2px rgba(0, 0, 0, 0.12);

    border: 1px solid transparent;
}

.web-list {
    display: flex;
    flex-wrap: wrap;
    gap: 48px 0;
}

.web-name {
    margin-bottom: 8px;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    text-align: left;

    color: var(--secondary-text-color);
}
.web-info{
    color: var(--secondary-text-color);
}
.web-item {
    margin: 0 auto;
    display: block;
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
            0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.portfolio-link {
    transition: box-shadow var(--hover-transition);
}


.portfolio-link {
    display: block;
}

.app-list {
    padding: 32px 16px;
    border: 1px solid #e7e9fc;
    border-top: none;
}

.app-thumb {
    position: relative;
    overflow: hidden;
}

.overlay-text {
    display: block;
    position: absolute;
    top: 0;
    left: 0;

    margin: 0;
    padding: 40px 32px 164px 32px;

    color: #f4f4fd;
    background-color: #4d5ae5;
    opacity: 0;

    transform: translatey(100%);
    transition: transform var(--hover-transition), opacity var(--hover-transition);
}

.portfolio-link:hover .overlay-text {
    transform: translatey(0);
    opacity: 1;
}