@media screen and (min-width: 768px) {
/* Body */

    .container {
        max-width: 768px;
    }
    
        button {
            cursor: pointer;
        }
 /* Header */

    .nav .list {
        display: flex;
        margin-right: 121px;
    }

    .menu-link {
        position: relative;

        display: block;
        padding-top: 24px;
        padding-bottom: 24px;

        color: var(--secondary-text-color);

        font-family: Roboto, sans-serif;
        font-weight: 500;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        text-decoration: none;
        text-transform: none;

        transition: color var(--hover-transition);
    }

   
.menu-item:not(:last-child) {
        margin-right: 40px;
    }
.menu-link.active {
    color: #404BBF;
}

.menu-link:hover,
.menu-link:focus {
    color: #404BBF;
}

.menu-link:after {
    content: '';
    position: absolute;
    bottom: -1px;
    left: 0;
    display: block;
    border-radius: 2px;
    width: 100%;
    height: 4px;
    background-color: none;
}

.menu-link.active:after {
    background-color: #404BBF;
}

  .menu-item:hover .menu-link::after {
        opacity: 1;
        transform: scale(1);
    }

    .address {
        display: block;
        font-style: normal;
    }

    .list-contact {
        display: block;
    }

    .address-link:not(:last-child) {
        margin-bottom: 12px;
        }

    .address-list {
        font-weight: 400;
        font-size: 12px;
        line-height: 1.17px;
        letter-spacing: 0.04em;
        color: var(--primary-text-color);
        transition: color var(--hover-transition);
    }

    .address-list:hover,
    .address-list:focus {
        color: var(--accent-color);
    }

    .mobile-modal {
        display: none;
    }

    .btn-burger {
        display: none;
    }

    /* LOGO */

    .nav>.link {
        margin-right: 120px;
    }

    /* Main */

    /* Her */


    @media screen and (max-width: 768px) {
        .overlay {
            max-width: 1440px;
            background-image: linear-gradient(rgba(46, 47, 66, 0.7),
                    rgba(46, 47, 66, 0.7)),
                url('../images/hero/Dark-bg_tablet@1x.jpg');
        }
    }

    @media (min-device-pixel-ratio: 2) and (min-width: 768px),
    (min-resolution: 192dpi) and (min-width: 768px),
    (min-resolution: 2dppx) and (min-width: 768px) {
    .overlay {
        background-image: linear-gradient(rgba(46, 47, 66, 0.7),
                rgba(46, 47, 66, 0.7)), url('../images/hero/Dark-bg_tablet@2x.jpg');
    }
}

    .hero-title {
        max-width: 496px;
        margin: 0 auto 36px auto;
        font-size: 56px;
        line-height: 1.07;
    }

    /* Modal Hero Window */

    .modal {
        padding: 72px 24px 24px 24px;
    }


    /* Our tasks */

    .tasks-descr {
        flex-direction: row;
        flex-wrap: wrap;
        gap: 72px 24px;
    }

    .task-item {
        display: block;
        width: calc((100% - 24px) / 2);
    }

    .bar-name {
        text-align: start;
    }


    /* Our Team */

    .team .list {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        gap: 64px 24px;
    }

    /* Our customers */

    .customers>.container {
        max-width: 552px;
    }
    .customer-list {
        justify-content: center;
        column-gap: 24px;
        }

    .customer-item {
        width: calc((100% - 2 * 24px) / 3);
    }

    /* Footer */

    .footer {
         display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: baseline;
        column-gap: 24px;
        row-gap: 72px;
    }

    .footer-container {
        flex-direction: row;
        align-items: baseline;
        flex-wrap: wrap;
        max-width: 552px;
    }

    .footer-left {
        text-align: left;
        margin-right: 24px;

    }

    .footer-right {
        text-align: left;
    }

    .subscribe-field {
        text-align: left;
    }

    .btn-field {
        flex-direction: row;
        align-items: start;
    }

    .subscribe-field input {
        max-width: 264px;
        height: 40px;
        margin-right: 24px;
        margin-bottom: 0;
    }

    .subscribe-btn {
        margin: 0;
    }

    /* Portfolio */

    .portfolio-main-page {
        padding-top: 96px;
        padding-bottom: 120px;
    }

    /* Our projects */

    .button-list {
        justify-content: center;
    }

    .btn-list {
        justify-content: center;
    }

    .btn-item {
        display: block;
    }

    .filter-btn {
        padding: 12px 24px;
    }

    .web-list {
        display: flex;
        flex-wrap: wrap;
        gap: 48px 24px;
    }

.web-item {
    width: calc((100% - 48px) / 3);
}
}